$Offwhite: white;
$Darkblack: black;
$Backgrey: #fafafa;
$titleStyle: 'Taviraj', serif;
$backorg: #FF842B;
$hoverorg: #CC661D;
$h4style: 'Quicksand', sans-serif;
$backFont: #E6EDED;
$lightGrey: grey;

body {
  .home-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.521)), url(../../assets/images/hero_1.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

    #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    }
    #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    }
  }

  .home-booking-form {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Backgrey;

    .booking-form {
      width: 85%;
      height: 25vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 120px;
      background-color: $Offwhite;
      box-shadow: 0px 0px 20px 0px rgba(80, 79, 79, 0.5);

      .form-row {
      display: flex;
      flex-direction: column;
      margin: 13px;
      padding: 5px;

      #check-in {
      width: 250px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }

      #check-out {
      width: 250px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }

      #adults {
      width: 100px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }

      #children {
      width: 100px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }
      }

      .booking-button {
      width: 250px;
      height: 50px;
      margin-top: 30px;
      background-color: $backorg;
      font-size: 15px;
      font-family: $h4style;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      color: $Offwhite;
      transition: 0.5s;

      &:focus {
      outline: none;
      border: none;
      }

      &:hover {
      background-color: $hoverorg;
      }
      }
    }
  }

  .home-about-us {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;

    .about-us-content {
    width: 30%;
    height: 90vh;
    line-height: 30px;
    padding-bottom: 10px;

    .about-content-items {
      line-height: 10px;

      .primary-heading {
        width: 79%;
      }

      h4 {  
        width: 95%;
        line-height: 30px;
      }

      h5 {
        width: 95%;
        line-height: 30px;
      }

      .or {
        font-family: $h4style;
        color: $lightGrey;
        padding-left: 12px;
      }

      a {
        padding-left: 13px;
        font-family: $h4style;
        color: $backorg;
        text-decoration: none;
      }
    }

    .about-us-btn {
    width: 145px;
    height: 43px;
    margin-top: 30px;
    background-color: $backorg;
    font-size: 15px;
    font-family: $h4style;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: $Offwhite;
    transition: 0.5s;

    &:focus {
    outline: none;
    border: none;
    }

    &:hover {
    background-color: $hoverorg;
    }
    }   
    }

    .about-us-image {
    width: 48%;
    height: 80vh;

    img {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    object-fit: cover;
    background-size: cover;
    }
    }
  }

  .home-rooms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Backgrey;

    .room-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .rooms-galery {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: 642px;
    object-fit: cover;
    background-size: cover;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    margin-right: 20px;
    }
    }
    .rooms-content {
    width: 42%;
    height: 47vw;
    padding-left: 50px;
    background-color: $Offwhite;

    .rooms-cont-items{
    width: 95%;
    padding-bottom: 50px;

    .primary-heading {
    color: $backorg;
    margin-top: 90px;
    height: 10px;

    h5 {
      padding-left: 10px;
      padding-top: 30px;
    }
    }

    h3 {
    height: 20px;
    margin-bottom: 20px;
    }

    h4 {
      line-height: 35px;
      
    }
    
    h5 {
      line-height: 30px;
    }
    }
    }
    }

    .room-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .rooms-galery {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: 642px;
    object-fit: cover;
    background-size: cover;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    margin-right: 20px;
    }
    }
    .rooms-content {
    width: 42%;
    height: 47vw;
    padding-left: 50px;
    background-color: $Offwhite;
    line-height: 40px;

    .rooms-cont-items {
    width: 95%;
    padding-bottom: 50px;

    .primary-heading {
    color: $backorg;
    margin-top: 90px;
    height: 10px;

    h5 {
      padding-left: 10px;
      padding-top: 30px;
    }
    }    
    h3 {
    height: 20px;
    margin-bottom: 20px;
    }

    h4 {
      line-height: 35px; 
    }
    
    h5 {
      line-height: 30px;
    }
    }
    }
    }
  }
    
  .home-galery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: $backorg;

    .custom-galery {
    width: 80%;
    }

    .extra-photos-link {
    padding-top: 20px;
    text-decoration: none;
    color: $backorg;
    font-family: $h4style;
    }
  }

  .home-testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    .custom-t {
      width: 80%;
    }

  }
   
  .home-events {
    background-color: $Backgrey;
    padding-bottom: 100px;
  }

  .home-reserve {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .home-reserve-heading {
      padding: 110px;
    }

    .btn-primary {
      margin: 120px;
    }
  }

  .footer {
    width: 100%;
    height: 50vw;
    background-color: #1c1a1a;

    .footer-main-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 70px;

      .footer-link {
        width: 20%;
        height: 100%;
        padding-left: 70px;
      }

      .footer-link a {
        font-size: 16px;
        font-family: $h4style;
        text-decoration: none;
        color: $lightGrey;
        line-height: 35px;
      
        &:hover {
          color: $Backgrey;
        } 
      }

      .contact { 
        width: 25%;
        font-size: 16px;
        font-family: $h4style;
        color: $Backgrey;
        text-decoration: none;
        padding-top: 50px;
        padding-left: 30px;

         .fa-map-marker-alt {
           color: $hoverorg;
           display: flex;
           flex-direction: row;

            h5{
             padding-left: 15px;
             font-style: italic;
             color: white;
           }
         }
        
        .text p{
          width: 100%;
        }
      
        .fa-phone-alt {
          color: $hoverorg;
          display: flex;
          flex-direction: row;

          h5{
            padding-left: 15px;
            font-style: italic;
            color: white;
          }
        }

        .fa-envelope {
          color: $hoverorg;
          display: flex;
          flex-direction: row;

          h5{
            padding-left: 15px;
            font-style: italic;
            color: white;
          }
        }
      }

      .email {
        font-size: 20px;
        font-family: $h4style;
        border: none;
        padding-bottom: 90px;
        padding-left: 60px;
        position: relative;

        .label {
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-family: $h4style;
          font-weight: 500;
          color: $lightGrey;
        }
        .input {
          width: 70%;
          height: 50px;
          color: white;
          border: none;
          background: transparent;
          border-bottom: 0.5px solid dimgray; 
         
          &[type="text"] {
            font-size: 15px;
          }

          &:focus {
            border-bottom: 1px solid white;
          }

          &::placeholder {
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: dimgray;

          }
        }

        .fa-paper-plane{
          position: absolute;
          right: 120px;
          top: 70px;
          color: white;
          font-size: 16px;  
        }
      }
    }

    .hr {
      width: 85%;
      background: 0 rgb(61, 61, 61);
    }

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 115px;
      margin-right: 115px;
      padding-top: 40px;

      .fa-tripadvisor {
        font-size: 20px;
        color: lightgrey;
        padding-bottom: 30px;
      }
      .fa-facebook-f{
        font-size: 17px;
        color: lightgrey;
        padding-bottom: 31px;
      }
      .fa-twitter {
        font-size: 17px;
        color: lightgrey;
        padding-bottom: 29px;
      }
    }
  }
    
}