$Offwhite: white;
$Darkblack: black;
$Backgrey: #fafafa;
$titleStyle: 'Taviraj', serif;
$backorg: #FF842B;
$hoverorg: #CC661D;
$h4style: 'Quicksand', sans-serif;
$backFont: #E6EDED;
$lightGrey: grey;

body {
  .home-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.521)), url(../../assets/images/hero_1.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

    #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    }
    #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    }
  }

  .home-booking-form {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Backgrey;

    .booking-form {
      width: 85%;
      height: 25vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 120px;
      background-color: $Offwhite;
      box-shadow: 0px 0px 20px 0px rgba(80, 79, 79, 0.5);

      .form-row {
      display: flex;
      flex-direction: column;
      margin: 13px;
      padding: 5px;

      #check-in {
      width: 250px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }

      #check-out {
      width: 250px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }

      #adults {
      width: 100px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }

      #children {
      width: 100px;
      height: 50px;
      border: 1px solid grey;
      border-radius: 5px;
      }
      }

      .booking-button {
      width: 250px;
      height: 50px;
      margin-top: 30px;
      background-color: $backorg;
      font-size: 15px;
      font-family: $h4style;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      color: $Offwhite;
      transition: 0.5s;

      &:focus {
      outline: none;
      border: none;
      }

      &:hover {
      background-color: $hoverorg;
      }
      }
    }
  }

  .home-about-us {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;

    .about-us-content {
    width: 30%;
    height: 90vh;
    line-height: 30px;
    padding-bottom: 10px;

    .about-content-items {
      line-height: 10px;

      .primary-heading {
        width: 79%;
      }

      h4 {  
        width: 95%;
        line-height: 30px;
      }

      h5 {
        width: 95%;
        line-height: 30px;
      }

      .or {
        font-family: $h4style;
        color: $lightGrey;
        padding-left: 12px;
      }

      a {
        padding-left: 13px;
        font-family: $h4style;
        color: $backorg;
        text-decoration: none;
      }
    }

    .about-us-btn {
    width: 145px;
    height: 43px;
    margin-top: 30px;
    background-color: $backorg;
    font-size: 15px;
    font-family: $h4style;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: $Offwhite;
    transition: 0.5s;

    &:focus {
    outline: none;
    border: none;
    }

    &:hover {
    background-color: $hoverorg;
    }
    }   
    }

    .about-us-image {
    width: 48%;
    height: 80vh;

    img {
    width: 100%;
    height: 100%;
    padding-left: 25px;
    object-fit: cover;
    background-size: cover;
    }
    }
  }

  .home-rooms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $backorg;

    .room-1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

    .rooms-galery {
      display: flex;
      flex-direction: row;
      width: 42%;
      height: 642px;
      object-fit: cover;
      background-size: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      margin-right: 20px;
    }
    }
    .rooms-content {
      width: 42%;
      height: 47vw;
      padding-left: 50px;
      background-color: $Offwhite;

      .primary-heading {
        color: $backorg;
        padding-top: 90px;
        height: 10px;
        padding-bottom: 40px;
      }

      .primary-heading p {
        padding-left: 10px;
        padding-top: 30px;
      }

      h4 {
        line-height: 35px;
      }

      h5 {
        line-height: 30px;
      }

      .rooms-cont-items{
        width: 95%;
        height: 60%;
        padding-bottom: 50px;
      
      }
    }
    }

    .room-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .rooms-galery {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: 642px;
    object-fit: cover;
    background-size: cover;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    margin-right: 20px;
    }
    }
    .rooms-content {
    width: 42%;
    height: 47vw;
    padding-left: 50px;
    background-color: $Offwhite;
    line-height: 40px;

    .primary-heading {
      color: $backorg;
      padding-top: 90px;
      padding-bottom: 40px;
      height: 10px;
    } 
    
    .primary-heading p {
      padding-left: 10px;
      padding-top: 30px;
    }
     
      h4 {
        line-height: 35px;
      }

      h5 {
        line-height: 30px;
      }

    .rooms-cont-items {
    width: 95%;
    padding-bottom: 50px;
    }
    }
    }
  }
    
  .home-galery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: $Backgrey;

    .custom-galery {
    width: 80%;
    }

    .custom-icon-p {
      width: 100px;
      height: 50px;
      margin-left: -260px;
      color: black;
    }

    .custom-icon-n {
      width: 100px;
      height: 50px;
      margin-right: -260px;
      color: black; 
    }

    .custom-indicators {
      width: 10px;
      height: 10px;   
      border-radius: 100%;
      background-color: white;
    }

    .extra-photos-link {
    padding-top: 20px;
    text-decoration: none;
    color: $backorg;
    font-family: $h4style;
    }
  }

  .home-testimonial {
    background-color: $Offwhite;

    .custom-main {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 50px 100px 100px;

      .custom-item {
        width: 30%;

        .custom-content {
          width: 100%;
          margin: 0 auto;
          text-align: center;
          font-family: $titleStyle;
          font-style: italic;
          padding: 10px 0;
        }
        .custom-overview {
          width: 100%;
          margin: 0 auto;
          text-align: center;
          font-style: italic;
        }
      }

      .custom-item img{
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border-radius: 50%;
        text-align: center;
      }
    } 

      .custom-t-indicators {
        width: 10px;
        height: 10px;   
        border-radius: 100%;
        background-color: #FF842B;
      }

      .custom-icon {
        width: 100px;
        height: 50px;
        color: black;
      }
  }
     
  .home-events {
    background-color: $Backgrey;
    padding-bottom: 100px;
  }

  .home-reserve {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .home-reserve-heading {
      padding: 110px;
    }

    .btn-primary {
      margin: 120px;
    }
  }
    
}