body .about-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(../../assets/images/../images/img_2.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; }
  body .about-header #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box; }
  body .about-header #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box; }
body .hotel-history {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #fafafa; }
  body .hotel-history .history-content {
    width: 30%;
    height: 90vh;
    line-height: 30px;
    padding-bottom: 10px; }
    body .hotel-history .history-content .history-content-items {
      line-height: 10px; }
      body .hotel-history .history-content .history-content-items .primary-heading {
        width: 79%; }
      body .hotel-history .history-content .history-content-items h4 {
        width: 95%;
        line-height: 30px; }
      body .hotel-history .history-content .history-content-items h5 {
        width: 95%;
        line-height: 30px; }
    body .hotel-history .history-content .hotel-history-btn {
      width: 145px;
      height: 43px;
      background-color: #FF842B;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      color: white;
      transition: 0.5s; }
      body .hotel-history .history-content .hotel-history-btn:focus {
        outline: none;
        border: none; }
      body .hotel-history .history-content .hotel-history-btn:hover {
        background-color: #CC661D; }
  body .hotel-history .hotel-history-image {
    width: 45%;
    height: 80vh; }
    body .hotel-history .hotel-history-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover; }
body .about-testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  body .about-testimonial .custom-t {
    width: 80%; }
body .about-reserve {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  body .about-reserve .about-reserve-heading {
    padding: 110px; }
  body .about-reserve .btn-primary {
    margin: 120px; }

body .contacts-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(../../assets/images/hero_1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; }
  body .contacts-header #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box; }
  body .contacts-header #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box; }
body .contacts-testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  body .contacts-testimonial .custom-t {
    width: 80%; }
body .contacts-reserve {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  body .contacts-reserve .contacts-reserve-heading {
    padding: 110px; }
  body .contacts-reserve .btn-primary {
    margin: 120px; }

body .events-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(../../assets/images/slider-7.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; }
  body .events-header #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box; }
  body .events-header #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box; }
body .events-reserve {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  body .events-reserve .events-reserve-heading {
    padding: 110px; }
  body .events-reserve .btn-primary {
    margin: 120px; }

body .home-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(../../assets/images/hero_1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; }
  body .home-header #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box; }
  body .home-header #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box; }
body .home-booking-form {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa; }
  body .home-booking-form .booking-form {
    width: 85%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(80, 79, 79, 0.5); }
    body .home-booking-form .booking-form .form-row {
      display: flex;
      flex-direction: column;
      margin: 13px;
      padding: 5px; }
      body .home-booking-form .booking-form .form-row #check-in {
        width: 250px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 5px; }
      body .home-booking-form .booking-form .form-row #check-out {
        width: 250px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 5px; }
      body .home-booking-form .booking-form .form-row #adults {
        width: 100px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 5px; }
      body .home-booking-form .booking-form .form-row #children {
        width: 100px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 5px; }
    body .home-booking-form .booking-form .booking-button {
      width: 250px;
      height: 50px;
      margin-top: 30px;
      background-color: #FF842B;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      color: white;
      transition: 0.5s; }
      body .home-booking-form .booking-form .booking-button:focus {
        outline: none;
        border: none; }
      body .home-booking-form .booking-form .booking-button:hover {
        background-color: #CC661D; }
body .home-about-us {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white; }
  body .home-about-us .about-us-content {
    width: 30%;
    height: 90vh;
    line-height: 30px;
    padding-bottom: 10px; }
    body .home-about-us .about-us-content .about-content-items {
      line-height: 10px; }
      body .home-about-us .about-us-content .about-content-items .primary-heading {
        width: 79%; }
      body .home-about-us .about-us-content .about-content-items h4 {
        width: 95%;
        line-height: 30px; }
      body .home-about-us .about-us-content .about-content-items h5 {
        width: 95%;
        line-height: 30px; }
      body .home-about-us .about-us-content .about-content-items .or {
        font-family: "Quicksand", sans-serif;
        color: grey;
        padding-left: 12px; }
      body .home-about-us .about-us-content .about-content-items a {
        padding-left: 13px;
        font-family: "Quicksand", sans-serif;
        color: #FF842B;
        text-decoration: none; }
    body .home-about-us .about-us-content .about-us-btn {
      width: 145px;
      height: 43px;
      margin-top: 30px;
      background-color: #FF842B;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      border: none;
      border-radius: 50px;
      color: white;
      transition: 0.5s; }
      body .home-about-us .about-us-content .about-us-btn:focus {
        outline: none;
        border: none; }
      body .home-about-us .about-us-content .about-us-btn:hover {
        background-color: #CC661D; }
  body .home-about-us .about-us-image {
    width: 48%;
    height: 80vh; }
    body .home-about-us .about-us-image img {
      width: 100%;
      height: 100%;
      padding-left: 25px;
      object-fit: cover;
      background-size: cover; }
body .home-rooms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa; }
  body .home-rooms .room-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    body .home-rooms .room-1 .rooms-galery {
      display: flex;
      flex-direction: row;
      width: 42%;
      height: 642px;
      object-fit: cover;
      background-size: cover; }
      body .home-rooms .room-1 .rooms-galery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        margin-right: 20px; }
    body .home-rooms .room-1 .rooms-content {
      width: 42%;
      height: 47vw;
      padding-left: 50px;
      background-color: white; }
      body .home-rooms .room-1 .rooms-content .rooms-cont-items {
        width: 95%;
        padding-bottom: 50px; }
        body .home-rooms .room-1 .rooms-content .rooms-cont-items .primary-heading {
          color: #FF842B;
          margin-top: 90px;
          height: 10px; }
          body .home-rooms .room-1 .rooms-content .rooms-cont-items .primary-heading h5 {
            padding-left: 10px;
            padding-top: 30px; }
        body .home-rooms .room-1 .rooms-content .rooms-cont-items h3 {
          height: 20px;
          margin-bottom: 20px; }
        body .home-rooms .room-1 .rooms-content .rooms-cont-items h4 {
          line-height: 35px; }
        body .home-rooms .room-1 .rooms-content .rooms-cont-items h5 {
          line-height: 30px; }
  body .home-rooms .room-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    body .home-rooms .room-2 .rooms-galery {
      display: flex;
      flex-direction: row;
      width: 42%;
      height: 642px;
      object-fit: cover;
      background-size: cover; }
      body .home-rooms .room-2 .rooms-galery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        margin-right: 20px; }
    body .home-rooms .room-2 .rooms-content {
      width: 42%;
      height: 47vw;
      padding-left: 50px;
      background-color: white;
      line-height: 40px; }
      body .home-rooms .room-2 .rooms-content .rooms-cont-items {
        width: 95%;
        padding-bottom: 50px; }
        body .home-rooms .room-2 .rooms-content .rooms-cont-items .primary-heading {
          color: #FF842B;
          margin-top: 90px;
          height: 10px; }
          body .home-rooms .room-2 .rooms-content .rooms-cont-items .primary-heading h5 {
            padding-left: 10px;
            padding-top: 30px; }
        body .home-rooms .room-2 .rooms-content .rooms-cont-items h3 {
          height: 20px;
          margin-bottom: 20px; }
        body .home-rooms .room-2 .rooms-content .rooms-cont-items h4 {
          line-height: 35px; }
        body .home-rooms .room-2 .rooms-content .rooms-cont-items h5 {
          line-height: 30px; }
body .home-galery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  background-color: #fafafa; }
  body .home-galery .custom-galery {
    width: 80%; }
  body .home-galery .custom-icon-p {
    width: 100px;
    height: 50px;
    margin-left: -260px;
    color: black; }
  body .home-galery .custom-icon-n {
    width: 100px;
    height: 50px;
    margin-right: -260px;
    color: black; }
  body .home-galery .custom-indicators {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    border: 2px solid white;
    background: transparent; }
  body .home-galery .extra-photos-link {
    padding-top: 20px;
    text-decoration: none;
    color: #FF842B;
    font-family: "Quicksand", sans-serif; }
body .testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  background: #FF842B; }
body .home-events {
  background-color: #fafafa;
  padding-bottom: 100px; }
body .home-reserve {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  body .home-reserve .home-reserve-heading {
    padding: 110px; }
  body .home-reserve .btn-primary {
    margin: 120px; }

body .reserve-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(../../assets/images/hero_1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; }
  body .reserve-header #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box; }
  body .reserve-header #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box; }
body .reserve-testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  body .reserve-testimonial .custom-t {
    width: 80%; }
body .reserve-reserve {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  body .reserve-reserve .reserve-reserve-heading {
    padding: 110px; }
  body .reserve-reserve .btn-primary {
    margin: 120px; }

body .rooms-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url(../../assets/images/slider-1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; }
  body .rooms-header #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box; }
  body .rooms-header #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box; }
body .rooms-galery-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding-top: 100px;
  padding-bottom: 100px; }
  body .rooms-galery-main .room-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    body .rooms-galery-main .room-1 .rooms-galery {
      display: flex;
      flex-direction: row;
      width: 42%;
      height: 642px;
      object-fit: cover;
      background-size: cover; }
      body .rooms-galery-main .room-1 .rooms-galery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        margin-right: 20px; }
    body .rooms-galery-main .room-1 .rooms-content {
      width: 42%;
      height: 47vw;
      padding-left: 50px;
      background-color: white;
      line-height: 40px; }
      body .rooms-galery-main .room-1 .rooms-content .rooms-cont-items {
        width: 95%;
        padding-bottom: 50px; }
        body .rooms-galery-main .room-1 .rooms-content .rooms-cont-items .primary-heading {
          color: #FF842B;
          margin-top: 90px;
          height: 10px; }
        body .rooms-galery-main .room-1 .rooms-content .rooms-cont-items h3 {
          height: 20px;
          margin-bottom: 20px; }
  body .rooms-galery-main .room-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    body .rooms-galery-main .room-2 .rooms-galery {
      display: flex;
      flex-direction: row;
      width: 42%;
      height: 642px;
      object-fit: cover;
      background-size: cover; }
      body .rooms-galery-main .room-2 .rooms-galery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        margin-right: 20px; }
    body .rooms-galery-main .room-2 .rooms-content {
      width: 42%;
      height: 47vw;
      padding-left: 50px;
      background-color: white;
      line-height: 40px; }
      body .rooms-galery-main .room-2 .rooms-content .rooms-cont-items {
        width: 95%;
        padding-bottom: 50px; }
        body .rooms-galery-main .room-2 .rooms-content .rooms-cont-items .primary-heading {
          color: #FF842B;
          margin-top: 90px;
          height: 10px; }
        body .rooms-galery-main .room-2 .rooms-content .rooms-cont-items h3 {
          height: 20px;
          margin-bottom: 20px; }
body .rooms-reserve {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  body .rooms-reserve .rooms-reserve-heading {
    padding: 110px; }
  body .rooms-reserve .btn-primary {
    margin: 120px; }
body .footer {
  width: 100%;
  height: 50vw;
  background-color: #1c1a1a; }
  body .footer .footer-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 70px; }
    body .footer .footer-main-content .footer-content-1 a {
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      text-decoration: none;
      color: grey; }
    body .footer .footer-main-content .footer-content-2 a {
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      text-decoration: none;
      color: grey; }
    body .footer .footer-main-content .contact {
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      color: #fafafa;
      text-decoration: none; }
      body .footer .footer-main-content .contact .fa-map-marker-alt {
        color: #CC661D;
        display: flex;
        flex-direction: row; }
        body .footer .footer-main-content .contact .fa-map-marker-alt h5 {
          padding-left: 15px;
          font-style: italic;
          color: white; }
      body .footer .footer-main-content .contact .text {
        width: 80%; }
      body .footer .footer-main-content .contact .fa-phone-alt {
        color: #CC661D;
        display: flex;
        flex-direction: row; }
        body .footer .footer-main-content .contact .fa-phone-alt h5 {
          padding-left: 15px;
          font-style: italic;
          color: white; }
      body .footer .footer-main-content .contact .fa-envelope {
        color: #CC661D;
        display: flex;
        flex-direction: row; }
        body .footer .footer-main-content .contact .fa-envelope h5 {
          padding-left: 15px;
          font-style: italic;
          color: white; }
    body .footer .footer-main-content .inputWithicon {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      font-family: "Quicksand", sans-serif;
      position: relative;
      border: none; }
    body .footer .footer-main-content .fa-paper-plane {
      position: absolute;
      right: 0;
      top: 60%;
      transform: translateX(-60%);
      font-size: 20px; }
  body .footer .hr {
    width: 85%;
    background: 0 #3d3d3d; }
  body .footer .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 115px;
    margin-right: 115px;
    padding-top: 50px; }
    body .footer .social .fa-tripadvisor {
      font-size: 20px;
      color: lightgrey;
      padding-bottom: 30px; }
    body .footer .social .fa-facebook-f {
      font-size: 17px;
      color: lightgrey;
      padding-bottom: 31px; }
    body .footer .social .fa-twitter {
      font-size: 17px;
      color: lightgrey;
      padding-bottom: 29px; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 100%; }
  body input {
    appearance: none;
    -webkit-apperance: none;
    -moz-apperance: none; }
    body input:focus {
      outline: none; }
  body #label {
    padding-bottom: 10px;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700; }
  body p {
    font-family: "Taviraj", serif;
    font-size: 25px;
    font-weight: normal; }
  body h1 {
    width: 800px;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    font-family: "Taviraj", serif;
    font-weight: 700; }
  body .primary-heading {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    font-size: 55px;
    font-family: "Taviraj", serif;
    font-weight: 500;
    color: black; }
  body h3 {
    width: 450px;
    font-size: 25px;
    font-family: "Taviraj", serif;
    line-height: 35px;
    color: black;
    font-weight: 400; }
  body h4 {
    width: 90%;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    color: #5e5e5bfd;
    font-weight: 400; }
  body h5 {
    width: 90%;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    color: #5e5e5bfd;
    font-weight: 400; }
  body .home-rooms-heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px; }
    body .home-rooms-heading .primary-heading {
      width: 100%;
      height: 3px;
      margin-top: 100px; }
    body .home-rooms-heading h4 {
      width: 55%;
      display: block;
      text-align: center;
      padding-bottom: 30px;
      line-height: 35px; }
  body .rooms-btn-book-now {
    width: 130px;
    height: 45px;
    margin-top: 20px;
    background-color: #FF842B;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    transition: 0.5s; }
    body .rooms-btn-book-now:focus {
      outline: none;
      border: none; }
    body .rooms-btn-book-now:hover {
      background-color: #CC661D; }
  body .btn-primary {
    width: 200px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #FF842B;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    transition: 0.5s; }
    body .btn-primary:focus {
      outline: none;
      border: none; }
    body .btn-primary:hover {
      background-color: #CC661D; }
  body p {
    width: 90%;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: #b3aeae; }
  body ul {
    list-style: none; }
  body .footer {
    width: 100%;
    height: 50vw;
    background-color: #1c1a1a; }
    body .footer .footer-main-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 70px; }
      body .footer .footer-main-content .footer-link {
        width: 20%;
        height: 100%;
        padding-left: 70px; }
      body .footer .footer-main-content .footer-link a {
        font-size: 16px;
        font-family: "Quicksand", sans-serif;
        text-decoration: none;
        color: #b3aeae;
        line-height: 35px; }
        body .footer .footer-main-content .footer-link a:hover {
          color: #fafafa; }
      body .footer .footer-main-content .contact {
        width: 25%;
        font-size: 16px;
        font-family: "Quicksand", sans-serif;
        color: #fafafa;
        text-decoration: none;
        padding-top: 50px;
        padding-left: 30px; }
        body .footer .footer-main-content .contact .fa-map-marker-alt {
          color: #CC661D;
          display: flex;
          flex-direction: row; }
          body .footer .footer-main-content .contact .fa-map-marker-alt h5 {
            padding-left: 15px;
            font-style: italic;
            color: white; }
        body .footer .footer-main-content .contact .text p {
          width: 100%; }
        body .footer .footer-main-content .contact .fa-phone-alt {
          color: #CC661D;
          display: flex;
          flex-direction: row; }
          body .footer .footer-main-content .contact .fa-phone-alt h5 {
            padding-left: 15px;
            font-style: italic;
            color: white; }
        body .footer .footer-main-content .contact .fa-envelope {
          color: #CC661D;
          display: flex;
          flex-direction: row; }
          body .footer .footer-main-content .contact .fa-envelope h5 {
            padding-left: 15px;
            font-style: italic;
            color: white; }
      body .footer .footer-main-content .email {
        font-size: 20px;
        font-family: "Quicksand", sans-serif;
        border: none;
        padding-bottom: 90px;
        padding-left: 60px;
        position: relative; }
        body .footer .footer-main-content .email .label {
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          color: #b3aeae; }
        body .footer .footer-main-content .email .input {
          width: 70%;
          height: 50px;
          color: white;
          border: none;
          background: transparent;
          border-bottom: 0.5px solid dimgray; }
          body .footer .footer-main-content .email .input[type="text"] {
            font-size: 15px; }
          body .footer .footer-main-content .email .input:focus {
            border-bottom: 1px solid white; }
          body .footer .footer-main-content .email .input::placeholder {
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: dimgray; }
        body .footer .footer-main-content .email .fa-paper-plane {
          position: absolute;
          right: 120px;
          top: 70px;
          color: white;
          font-size: 16px; }
    body .footer .hr {
      width: 85%;
      background: 0 #3d3d3d; }
    body .footer .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 115px;
      margin-right: 115px;
      padding-top: 40px; }
      body .footer .social .fa-tripadvisor {
        font-size: 20px;
        color: lightgrey;
        padding-bottom: 30px; }
      body .footer .social .fa-facebook-f {
        font-size: 17px;
        color: lightgrey;
        padding-bottom: 31px; }
      body .footer .social .fa-twitter {
        font-size: 17px;
        color: lightgrey;
        padding-bottom: 29px; }

/*# sourceMappingURL=main.css.map */
