@import 'about.scss';
@import 'contacts.scss';
@import 'events.scss';
@import 'home.scss';
@import 'reservation.scss';
@import 'rooms.scss';

// Variables
$Offwhite: whitesmoke;
$sectionHeading: 30px;
$Darkblack: black;
$Backgrey: #fafafa;
$titleStyle: 'Taviraj', serif;
$backorg: #FF842B;
$hoverorg: #CC661D;
$h4Color: #5e5e5bfd;
$h4style: 'Quicksand', sans-serif;
$backFont: #E6EDED;
$lightGrey: rgb(179, 174, 174);


// Nested-styling
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 100%;

  input {
     appearance: none;
    -webkit-apperance: none;
    -moz-apperance: none;
   
    &:focus {
      outline: none;
    }

  }

  #label {
    padding-bottom: 10px;
    font-size: 15px;
    font-family: $h4style;
    font-weight: 700;
  }

  p {
    font-family: $titleStyle;
    font-size: 25px;
    font-weight: normal;
  }

  h1 {
    width: 800px;
    text-align: center;
    font-size: 70px;
    line-height: 80px;
    font-family: 'Merriweather', serif;
    color: $Offwhite;
    font-family: $titleStyle;
    font-weight: 700;
  }

  .primary-heading{
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    font-size: 55px;
    font-family: $titleStyle;
    font-weight: 500;
    color: $Darkblack;
  }

  h3 {
    width: 450px;
    font-size: 25px;
    font-family: $titleStyle;
    line-height: 35px;
    color: $Darkblack;
    font-weight: 400;
  }

  h4 {
    width: 90%;
    font-size: 20px;
    font-family: $h4style;
    color: $h4Color;
    font-weight: 400;
  }
  
  h5 {
    width: 90%;
    font-size: 15px;
    font-family: $h4style;
    color: $h4Color;
    font-weight: 400;
  }


  .home-rooms-heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 60px;
    margin-bottom: 30px;

    .primary-heading { 
      width: 100%;
      height: 3px;
      margin-top: 100px;
    }

    h4 {
      width: 55%;
      display: block;
      text-align: center;
      padding-bottom: 30px;
      line-height: 35px;
    }   
  }

  .rooms-btn-book-now {
    width: 130px;
    height: 45px;
    margin-top: 20px;
    background-color: $backorg;
    font-size: 15px;
    font-family: $h4style;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: $Offwhite;
    transition: 0.5s;

   &:focus {
     outline: none;
     border: none;
   }

   &:hover {
     background-color: $hoverorg;
   }
  }  

  .btn-primary {
    width: 200px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: $backorg;
    font-size: 15px;
    font-family: $h4style;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    color: $Offwhite;
    transition: 0.5s;

   &:focus {
     outline: none;
     border: none;
   }

   &:hover {
     background-color: $hoverorg;
   }
  } 

  p {
    width: 90%;
    font-size: 16px;
    font-family: $h4style;
    font-weight: 400;
    color: $lightGrey;
  }

  ul{
    list-style: none;
  }

  .footer {
    width: 100%;
    height: 50vw;
    background-color: #1c1a1a;

    .footer-main-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 70px;

      .footer-link {
        width: 20%;
        height: 100%;
        padding-left: 70px;
      }

      .footer-link a {
        font-size: 16px;
        font-family: $h4style;
        text-decoration: none;
        color: $lightGrey;
        line-height: 35px;
      
        &:hover {
          color: $Backgrey;
        } 
      }

      .contact { 
        width: 25%;
        font-size: 16px;
        font-family: $h4style;
        color: $Backgrey;
        text-decoration: none;
        padding-top: 50px;
        padding-left: 30px;

         .fa-map-marker-alt {
           color: $hoverorg;
           display: flex;
           flex-direction: row;

            h5{
             padding-left: 15px;
             font-style: italic;
             color: white;
           }
         }
        
        .text p{
          width: 100%;
        }
      
        .fa-phone-alt {
          color: $hoverorg;
          display: flex;
          flex-direction: row;

          h5{
            padding-left: 15px;
            font-style: italic;
            color: white;
          }
        }

        .fa-envelope {
          color: $hoverorg;
          display: flex;
          flex-direction: row;

          h5{
            padding-left: 15px;
            font-style: italic;
            color: white;
          }
        }
      }

      .email {
        font-size: 20px;
        font-family: $h4style;
        border: none;
        padding-bottom: 90px;
        padding-left: 60px;
        position: relative;

        .label {
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-family: $h4style;
          font-weight: 500;
          color: $lightGrey;
        }
        
        .input {
          width: 70%;
          height: 50px;
          color: white;
          border: none;
          background: transparent;
          border-bottom: 0.5px solid dimgray; 
         
          &[type="text"] {
            font-size: 15px;
          }

          &:focus {
            border-bottom: 1px solid white;
          }

          &::placeholder {
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: dimgray;

          }
        }

        .fa-paper-plane{
          position: absolute;
          right: 120px;
          top: 70px;
          color: white;
          font-size: 16px;  
        }
      }
    }

    .hr {
      width: 85%;
      background: 0 rgb(61, 61, 61);
    }

    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 115px;
      margin-right: 115px;
      padding-top: 40px;

      .fa-tripadvisor {
        font-size: 20px;
        color: lightgrey;
        padding-bottom: 30px;
      }
      .fa-facebook-f{
        font-size: 17px;
        color: lightgrey;
        padding-bottom: 31px;
      }
      .fa-twitter {
        font-size: 17px;
        color: lightgrey;
        padding-bottom: 29px;
      }
    }
  }

}

