$Offwhite: white;
$Darkblack: black;
$Backgrey: #fafafa;
$titleStyle: 'Taviraj', serif;
$backorg: #FF842B;
$hoverorg: #CC661D;
$h4style: 'Quicksand', sans-serif;
$backFont: #E6EDED;

body {
  .rooms-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.521)), url(../../assets/images/slider-1.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;

    #span-scroll-btn a span {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    }
    #span-scroll-btn a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    }
  }

  .rooms-galery-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $Backgrey;
    padding-top: 100px;
    padding-bottom: 100px;

    .room-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .rooms-galery {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: 645px;
    object-fit: cover;
    background-size: cover;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    margin-right: 20px;
    }
    }
    .rooms-content {
    width: 42%;
    height: 47vw;
    padding-left: 50px;
    background-color: $Offwhite;
    line-height: 40px;

    .rooms-cont-items{
    width: 95%;
    padding-bottom: 50px;


    .primary-heading {
    color: $backorg;
    margin-top: 90px;
    height: 10px;
    }

    h3 {
    height: 20px;
    margin-bottom: 20px;
    }
    }
    }
    }

    .room-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .rooms-galery {
    display: flex;
    flex-direction: row;
    width: 42%;
    height: 645px;
    object-fit: cover;
    background-size: cover;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    margin-right: 20px;
    }
    }
    .rooms-content {
    width: 42%;
    height: 47vw;
    padding-left: 50px;
    background-color: $Offwhite;
    line-height: 40px;

    .rooms-cont-items {
    width: 95%;
    padding-bottom: 50px;

    .primary-heading {
    color: $backorg;
    margin-top: 90px;
    height: 10px;
    }    
    h3 {
    height: 20px;
    margin-bottom: 20px;
    }
    }
    }
    }
  }


}